<h1> nhap thong tin sinh vien</h1>
<form asp-action="Index">
    <label>HoTen</label>
    <input type="text" class="HoTen">
    <br>
    <label>NgaySinh</label>
    <input type="text" class="NgaySinh">
    <br>
    <label>GioiTinh</label>
    <input type="text" class="GioiTinh">
    <br>
    <label>DiaChi</label>
    <input type="text" class="DiaChi">
    <br>
    <input type="submit" value="Giui">
</form>
<h2>@ViewBag.Message</h2>